<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="beranda">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#beranda">
                <span class="d-block d-lg-none">SI KEMAL</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/logo.jpeg" alt="malinau" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse mt-5" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm" href="/users/logout" onclick="logout()">Keluar</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- laporan-->
            <section class="resume-section" id="laporan">
                <div class="resume-section-content">
                    <h2 class="mb-5">Laporan Masuk</h2>
                    <div class="social-icons">
                        <a class="btn btn-secondary btn-sm mb-3" href="/users/profile">Profile User</a>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1 row">
                            <div class="col-md-12">
                                <table class="table table-bordered" style="font-size:small">
                                    <thead>
                                        <tr>
                                            <th width="10%">No. Laporan</th>
                                            <th width="25%">Pelapor</th>
                                            <th width="25%">Laporan</th>
                                            <th width="25%">Status</th>
                                            <th width="15%">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody id="data-laporan">
                                        <!-- <tr>
                                            <th>#00098765</th>
                                            <td>
                                                Hendra Setiawan<br>
                                                0821111223<br>
                                                jln. Mulawarman Rt.10 No.25
                                            </td>
                                            <td>Terjadi keributan antar warga Rt.10 dengan Rt.11, kronologi salah satu warga Rt.11 gak terima anaknya dislepet kepalanya oleh pelaku warga Rt.10, sekian terima kasih</td>
                                            <td>
                                                <small>- Laporan Masuk (6-2-2024 11:45)</small>
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary btn-sm" href="/laporan/respon/<%= user.tlp %>" onclick="respon_lap()">Respon Laporan</a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
        </div>
        <!-- REST API-->
        <script>
            function logout() {
              fetch('/users/logout')
                .then(response => response.json())
                .then(data => {
                  alert(data.message);
                  window.location.href = '/users/login';
                })
                .catch(error => {
                  console.error('Error:', error);
                });
            }

            async function respon_lap(event) {
                
                event.preventDefault();
                                
                try {
                    let id = req.params.id;

                    const response = await fetch('/laporan/respon', {
                        method : 'POST',
                        headers : {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({tlp})
                    });

                    const result = await response.json();

                    if (result.status === 'success') {
                        alert(result.message);
                        window.location.href = '/';
                    } else {
                        alert(result.message);
                    }


                } catch (error) {
                    console.log(error);
                }
                
            }


            async function fetchLaporan() {
                try {
                    const response = await fetch('/laporan/all');
                    const allLaporan = await response.json()
                    const laporanTable = document.getElementById('data-laporan')
                    for (let i = 0; i < allLaporan.length; i++) {
                        const row = document.createElement('tr')
                        row.innerHTML = `
                            <th scope="row">${allLaporan[i].id}</th>
                            <td>
                                ${allLaporan[i].nama} <br>
                                ${allLaporan[i].tlp} <br>
                                ${allLaporan[i].alamat}
                            </td>
                            <td>${allLaporan[i].laporan}</td>
                            <td>
                                <small>- Laporan Masuk (6-2-2024 11:45)</small>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" href="" onclick="respon_lap()">Respon Laporan</a>
                            </td>
                        `            
                        laporanTable.appendChild(row)
                    }
                } catch (error) {
                    console.log(error);
                }
            }
            fetchLaporan()
        </script>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>